@keyframes moveCar{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(200px);
    }
}
img{
    height: 100px;
    width: 100px;
}
img:hover{
    animation: moveCar 2s ease forwards;
}